In [1]:
import os
import pandas as pd
from glob import glob
from tqdm import tqdm_notebook
%config Completer.use_jedi=False

In [12]:
## State abbreviations

state_abbreviations = {'Andhra Pradesh':'AP','Arunachal Pradesh':'AR','Assam':'AS','Bihar':'BR',
                       'Chhattisgarh':'CG','Goa':'GA','Gujarat':'GJ','Haryana':'HR','Himachal Pradesh':'HP',
                       'Jammu and Kashmir':'JK','Jharkhand':'JH','Karnataka':'KA','Kerala':'KL',
                       'Madhya Pradesh':'MP','Maharashtra':'MH','Manipur':'MN','Meghalaya':'ML',
                       'Mizoram':'MZ','Nagaland':'NL','Orissa':'OR','Odisha':'OR','Punjab':'PB','Rajasthan':'RJ',
                       'Sikkim':'SK','Tamil Nadu':'TN','Tripura':'TR','Uttarakhand':'UK','Uttar Pradesh':'UP',
                       'West Bengal':'WB','Tamil Nadu':'TN','Tripura':'TR','Andaman and Nicobar Islands':'AN',
                       'Chandigarh':'CH','Dadra and Nagar Haveli':'DH','Daman and Diu':'DD','Delhi':'DL',
                       'Lakshadweep':'LD','Pondicherry':'PY','Puducherry':'PY','Telangana':'TG'}

In [165]:
raw_data_loc = "./stations_data/"
cleaned_data_loc = "./cleaned_stations_data"
stations_details = pd.read_csv("../stations_details.csv")

if not os.path.exists(cleaned_data_loc):
    os.mkdir(cleaned_data_loc)

In [114]:
raw_files = glob(raw_data_loc + '*/*')
print("File count in raw_data_loc :: ", len(raw_files))

File count in raw_data_loc ::  461

In [166]:
govt_body = []
file_name = []
station_loc = []
original_file_name = []
for idx in range(len(stations_details)):
    
    gb_name = stations_details.iloc[idx]['name'].split('-')[-1].strip()
    fn = state_abbreviations[stations_details.iloc[idx]['state'].strip()]
    org_fn = stations_details.iloc[idx]['city'].strip() + '_' +  stations_details.iloc[idx]['id']
#     st_loc = stations_details.iloc[idx]['name'].split('-')[0].strip()
    
    govt_body.append(gb_name)
    file_name.append(fn)
    original_file_name.append(org_fn)
    
    
    
#     break

stations_details['govt_body'] = govt_body
stations_details['file_name'] = file_name
stations_details['org_fn'] = original_file_name
# stations_details['station_location'] = st_loc

In [164]:
stations_details.iloc[idx]['name'].split('-')[:-1]

['Ward', '32 Bapupara, Siliguri ']

In [167]:
stations_details

,id,name,latitude,longitude,state,city,start_month,start_month_num,year,govt_body,file_name,org_fn
0,site_1406,"Secretariat, Amaravati - APPCB",16.515083,80.518167,Andhra Pradesh,Amaravati,November,11,2017,APPCB,AP,Amaravati_site_1406
1,site_5632,"Gulzarpet, Anantapur - APPCB",14.675886,77.593027,Andhra Pradesh,Anantapur,August,8,2022,APPCB,AP,Anantapur_site_5632
2,site_5665,"Gangineni Cheruvu, Chittoor - APPCB",13.204880,79.097889,Andhra Pradesh,Chittoor,November,11,2022,APPCB,AP,Chittoor_site_5665
3,site_5693,"Yerramukkapalli, Kadapa - APPCB",14.465052,78.824187,Andhra Pradesh,Kadapa,January,1,2023,APPCB,AP,Kadapa_site_5693
4,site_1399,"Anand Kala Kshetram, Rajamahendravaram - APPCB",16.987287,81.736318,Andhra Pradesh,Rajamahendravaram,September,9,2017,APPCB,AP,Rajamahendravaram_site_1399
...,...,...,...,...,...,...,...,...,...,...,...,...
456,site_5111,"Jadavpur, Kolkata - WBPCB",22.499290,88.369170,West Bengal,Kolkata,June,6,2019,WBPCB,WB,Kolkata_site_5111
457,site_5126,"Rabindra Sarobar, Kolkata - WBPCB",22.511060,88.351420,West Bengal,Kolkata,August,8,2019,WBPCB,WB,Kolkata_site_5126
458,site_5129,"Bidhannagar, Kolkata - WBPCB",22.581570,88.410025,West Bengal,Kolkata,August,8,2019,WBPCB,WB,Kolkata_site_5129
459,site_5238,"Ballygunge, Kolkata - WBPCB",22.536751,88.363802,West Bengal,Kolkata,August,8,2019,WBPCB,WB,Kolkata_site_5238
460,site_1419,"Ward-32 Bapupara, Siliguri - WBPCB",26.688305,88.412668,West Bengal,Siliguri,February,2,2018,WBPCB,WB,Siliguri_site_1419

In [7]:
# stations_details[stations_details['file_name'] == 'DL'].sort_values(by=['id'])

In [8]:
skip_stations = ['./stations_data/Karnataka/Bengaluru_site_5729.csv',
'./stations_data/Karnataka/Bengaluru_site_5681.csv',
'./stations_data/Rajasthan/Jodhpur_site_5773.csv',
'./stations_data/Rajasthan/Bundi_site_5771.csv',
'./stations_data/Rajasthan/Tonk_site_5702.csv',
'./stations_data/Rajasthan/Tonk_site_5702.csv',
'./stations_data/Rajasthan/Jodhpur_site_5726.csv',
'./stations_data/Maharashtra/Kolhapur_site_5768.csv',
'./stations_data/Maharashtra/Kolhapur_site_5769.csv']

In [9]:
for file in tqdm_notebook(glob(raw_data_loc + '*/*')):
#     file = "./stations_data/Karnataka/Belgaum_site_5432.csv"
    
    if file not in skip_stations:

        state = file.split('/')[2]
        file_name = file.split('/')[-1]
        new_loc = os.path.join(cleaned_data_loc, state)

        if not os.path.exists(new_loc):
            os.mkdir(new_loc)

        try:

            df = pd.read_csv(file)

            if 'TOT-RF (mm)' in df.columns:
                df.drop(['TOT-RF (mm)'], axis=1, inplace=True)   

            df.drop(df.columns[[0]], axis=1, inplace=True)
            df = df.drop_duplicates(subset=["From Date"], keep="first")
            df["From Date"] = pd.to_datetime(df["From Date"])
            df["To Date"] = pd.to_datetime(df["To Date"])
            df = df.sort_values("From Date")

        #     df.to_csv("./test_2.csv",header=True, index=False)

            # find index of first row with non-NaN value in columns 3 onwards
            col_range = slice(2, None)  # exclude columns A and B
#             first_non_nan_row = (df.iloc[:, col_range].notna().any(axis=1)).idxmax()
            
            index = (df.iloc[:, col_range].notna().any(axis=1)).idxmax()
            # index
            # drop rows above index
#             if index != 0:
#                 df = df.dropna(subset=df.columns[2:index], how='all')
            df = pd.DataFrame(df.values[index:],columns=df.columns)

            # print index of first non-NaN row
        #     print("Index of first non-NaN row:", first_non_nan_row)

#             if first_non_nan_row < 20:
#                 print("Non NAN row :: ",file, first_non_nan_row)

            df.to_csv(os.path.join(new_loc, file.split('/')[-1]),header=True, index=False)
                
        except Exception as e :
            print("Error :: ", file , e)
    
    
#     print(file)
#     break

/tmp/ipykernel_22186/2588469046.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for file in tqdm_notebook(glob(raw_data_loc + '*/*')):

  0%|          | 0/461 [00:00<?, ?it/s]

In [1]:
import os
import pandas as pd
from tqdm import tqdm_notebook
from glob import glob
from datetime import datetime

%config Completer.use_jedi=True

In [169]:
cleared_data_loc = "./cleaned_stations_data/*/*"

In [170]:
df_columns = ['id', 'state', 'city', 'start_month', 'start_month_num' ,'start_year', 'file_name']
df_data = []

for file in tqdm_notebook(glob(cleared_data_loc)):
#     print(file)
    df = pd.read_csv(file)
    
    site_id = '_'.join(file.split('/')[-1][:-4].split('_')[1:])
    state = file.split('/')[2].strip()
    city = file.split('/')[-1].split('_')[0].strip()


    # Assuming you have the string stored in a variable named 'date_string'
    date_string = df.values[0][0]
    # Convert the string to a datetime object
    datetime_obj = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
    # Extract the month name from the datetime object
    start_month = datetime_obj.strftime('%B')
    start_month_num = datetime_obj.month
    start_year = datetime_obj.year

    file_name = state_abbreviations[state]
    
    df_data.append([site_id, state, city, start_month, start_month_num ,start_year, file_name])


#     break

/home/growlt200/anaconda3/envs/proj_air/lib/python3.6/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

  0%|          | 0/453 [00:00<?, ?it/s]

In [171]:
new_stations_details = pd.DataFrame(df_data, columns=df_columns)
all_states = list(set(new_stations_details.state.values))

In [172]:
new_col = ['id', 'file_name']
new_data = []
for st in all_states:
#     st='Karnataka'
    x = new_stations_details[new_stations_details['state'] == st].sort_values(by=['start_year', 'start_month_num'])
    
    # Generate the sequential number
    x['sequential_number'] = x.groupby('file_name').cumcount() + 1

    # Convert the sequential number to a 3-digit string with leading zeros
    x['sequential_number'] = x['sequential_number'].apply(lambda x: str(x).zfill(3))

    # Generate the new column by combining 'file_name' and 'sequential_number', prefixed with 'A'
    x['new_column'] = state_abbreviations[st] + x['sequential_number']
    
    for row in x.values:
        new_data.append([row[0], row[-1]])
#     break

In [173]:
new_df = pd.DataFrame(new_data, columns= new_col)

In [69]:
for row in x.values:
    print(row[0], row[-1])
    break

site_162 KA001

In [174]:
final_df = pd.merge(new_stations_details, new_df, on='id')

,id,state,city,start_month,start_month_num,start_year,file_name_x,file_name_y
0,site_5432,Karnataka,Belgaum,August,8,2022,KA,KA033
1,site_162,Karnataka,Bengaluru,January,1,2010,KA,KA001
2,site_5421,Karnataka,Mangalore,January,1,2021,KA,KA026
3,site_5125,Karnataka,Mysuru,July,7,2019,KA,KA015
4,site_5265,Karnataka,Chikkamagaluru,January,1,2020,KA,KA019
...,...,...,...,...,...,...,...,...
448,site_1420,Delhi,Delhi,March,3,2018,DL,DL031
449,site_1431,Delhi,Delhi,February,2,2018,DL,DL027
450,site_1424,Delhi,Delhi,March,3,2018,DL,DL032
451,site_118,Delhi,Delhi,January,1,2010,DL,DL006
452,site_1423,Delhi,Delhi,March,3,2018,DL,DL033

In [175]:
final_dataset_loc = "./final_dataset"
if not os.path.exists(final_dataset_loc):
    os.mkdir(final_dataset_loc)

In [176]:
import shutil
for row in tqdm_notebook(final_df.values):
#     print(row)
    state = row[1]
    old_location = os.path.join("./cleaned_stations_data/", state , row[2] + '_' + row[0] + '.csv') 
    new_location = os.path.join(final_dataset_loc,row[-1] + '.csv') 
    
    shutil.copy(old_location, new_location)
#     break

/home/growlt200/anaconda3/envs/proj_air/lib/python3.6/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

  0%|          | 0/453 [00:00<?, ?it/s]

In [92]:
old_location

'./cleaned_stations_data/Karnataka/Belgaum_site_5432.csv'

In [93]:
new_location

'./final_dataset/KA033.csv'

In [177]:
final_df = pd.merge(final_df,stations_details, on='id')
final_df

,id,state_x,city_x,start_month_x,start_month_num_x,start_year,file_name_x,file_name_y,name,latitude,longitude,state_y,city_y,start_month_y,start_month_num_y,year,govt_body,file_name,org_fn
0,site_5432,Karnataka,Belgaum,August,8,2022,KA,KA033,"Ramteerth Nagar, Belgaum - KSPCB",15.888653,74.541751,Karnataka,Belgaum,August,8,2022,KSPCB,KA,Belgaum_site_5432
1,site_162,Karnataka,Bengaluru,January,1,2010,KA,KA001,"BTM Layout, Bengaluru - CPCB",12.913522,77.595080,Karnataka,Bengaluru,January,1,2010,CPCB,KA,Bengaluru_site_162
2,site_5421,Karnataka,Mangalore,January,1,2021,KA,KA026,"Kadri, Mangalore - KSPCB",12.889250,74.853000,Karnataka,Mangalore,January,1,2021,KSPCB,KA,Mangalore_site_5421
3,site_5125,Karnataka,Mysuru,July,7,2019,KA,KA015,"Hebbal 1st Stage, Mysuru - KSPCB",12.210410,76.373760,Karnataka,Mysuru,July,7,2019,KSPCB,KA,Mysuru_site_5125
4,site_5265,Karnataka,Chikkamagaluru,January,1,2020,KA,KA019,"Kalyana Nagara, Chikkamagaluru - KSPCB",13.328028,75.797056,Karnataka,Chikkamagaluru,January,1,2020,KSPCB,KA,Chikkamagaluru_site_5265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,site_1420,Delhi,Delhi,March,3,2018,DL,DL031,"Ashok Vihar, Delhi - DPCC",28.695381,77.181665,Delhi,Delhi,February,2,2018,DPCC,DL,Delhi_site_1420
449,site_1431,Delhi,Delhi,February,2,2018,DL,DL027,"Patparganj, Delhi - DPCC",28.623763,77.287209,Delhi,Delhi,February,2,2018,DPCC,DL,Delhi_site_1431
450,site_1424,Delhi,Delhi,March,3,2018,DL,DL032,"Jawaharlal Nehru Stadium, Delhi - DPCC",28.580280,77.233829,Delhi,Delhi,February,2,2018,DPCC,DL,Delhi_site_1424
451,site_118,Delhi,Delhi,January,1,2010,DL,DL006,"DTU, Delhi - CPCB",28.750050,77.111261,Delhi,Delhi,January,1,2010,CPCB,DL,Delhi_site_118
452,site_1423,Delhi,Delhi,March,3,2018,DL,DL033,"Jahangirpuri, Delhi - DPCC",28.732820,77.170633,Delhi,Delhi,February,2,2018,DPCC,DL,Delhi_site_1423

In [119]:
final_df.columns

Index(['id', 'state_x', 'city_x', 'start_month_x', 'start_month_num_x',
       'start_year', 'file_name_x', 'file_name_y', 'name', 'latitude',
       'longitude', 'state_y', 'city_y', 'start_month_y', 'start_month_num_y',
       'year', 'govt_body', 'file_name', 'org_fn'],
      dtype='object')

In [178]:
kaggle_df = final_df.drop(['id', 'file_name_x', 'latitude',
       'longitude', 'state_y', 'city_y', 'start_month_y', 'start_month_num_y',
       'year','file_name', 'org_fn'], axis=1)
kaggle_df.rename(columns={'state_x':'state', 'city_x':'city', 'start_month_x':'start_month', 
                          'start_month_num_x':'start_month_num',
                          'govt_body':'agency', 'file_name_y':'file_name'}, inplace=True)
kaggle_df

,state,city,start_month,start_month_num,start_year,file_name,name,agency
0,Karnataka,Belgaum,August,8,2022,KA033,"Ramteerth Nagar, Belgaum - KSPCB",KSPCB
1,Karnataka,Bengaluru,January,1,2010,KA001,"BTM Layout, Bengaluru - CPCB",CPCB
2,Karnataka,Mangalore,January,1,2021,KA026,"Kadri, Mangalore - KSPCB",KSPCB
3,Karnataka,Mysuru,July,7,2019,KA015,"Hebbal 1st Stage, Mysuru - KSPCB",KSPCB
4,Karnataka,Chikkamagaluru,January,1,2020,KA019,"Kalyana Nagara, Chikkamagaluru - KSPCB",KSPCB
...,...,...,...,...,...,...,...,...
448,Delhi,Delhi,March,3,2018,DL031,"Ashok Vihar, Delhi - DPCC",DPCC
449,Delhi,Delhi,February,2,2018,DL027,"Patparganj, Delhi - DPCC",DPCC
450,Delhi,Delhi,March,3,2018,DL032,"Jawaharlal Nehru Stadium, Delhi - DPCC",DPCC
451,Delhi,Delhi,January,1,2010,DL006,"DTU, Delhi - CPCB",CPCB
452,Delhi,Delhi,March,3,2018,DL033,"Jahangirpuri, Delhi - DPCC",DPCC

In [179]:
kaggle_df.sort_values(by=['file_name'], inplace=True)

In [180]:
kaggle_df = kaggle_df.reset_index(drop=True)

In [181]:
kaggle_df

,state,city,start_month,start_month_num,start_year,file_name,name,agency
0,Andhra Pradesh,Tirupati,July,7,2016,AP001,"Tirumala, Tirupati - APPCB",APPCB
1,Andhra Pradesh,Vijayawada,May,5,2017,AP002,"PWD Grounds, Vijayawada - APPCB",APPCB
2,Andhra Pradesh,Visakhapatnam,July,7,2017,AP003,"GVM Corporation, Visakhapatnam - APPCB",APPCB
3,Andhra Pradesh,Rajamahendravaram,September,9,2017,AP004,"Anand Kala Kshetram, Rajamahendravaram - APPCB",APPCB
4,Andhra Pradesh,Amaravati,November,11,2017,AP005,"Secretariat, Amaravati - APPCB",APPCB
...,...,...,...,...,...,...,...,...
448,West Bengal,Howrah,May,5,2019,WB010,"Belur Math, Howrah - WBPCB",WBPCB
449,West Bengal,Kolkata,June,6,2019,WB011,"Jadavpur, Kolkata - WBPCB",WBPCB
450,West Bengal,Kolkata,August,8,2019,WB012,"Rabindra Sarobar, Kolkata - WBPCB",WBPCB
451,West Bengal,Kolkata,August,8,2019,WB013,"Bidhannagar, Kolkata - WBPCB",WBPCB
452,West Bengal,Kolkata,August,8,2019,WB014,"Ballygunge, Kolkata - WBPCB",WBPCB

In [194]:
a = []
for row in kaggle_df.values:
    print(' '. join(row[-2].split('-')[:-1]))
    a.append(' '. join(row[-2].split('-')[:-1]))
#     break

Tirumala, Tirupati
PWD Grounds, Vijayawada
GVM Corporation, Visakhapatnam
Anand Kala Kshetram, Rajamahendravaram
Secretariat, Amaravati
Gulzarpet, Anantapur
Gangineni Cheruvu, Chittoor
Vaikuntapuram, Tirupati
Kanuru, Vijayawada
Yerramukkapalli, Kadapa
Naharlagun, Naharlagun
Railway Colony, Guwahati
Pan Bazaar, Guwahati
IITG, Guwahati
Girls College, Sivasagar
Bata Chowk, Nalbari
LGBI Airport, Guwahati
Central Academy for SFS, Byrnihat
Tarapur, Silchar
Christianpatty, Nagaon
IGSC Planetarium Complex, Patna
Muzaffarpur Collectorate, Muzaffarpur
Collectorate, Gaya
Samanpura, Patna
Rajbansi Nagar, Patna
Muradpur, Patna
Industrial Area, Hajipur
DRM Office Danapur, Patna
SFTI Kusdihra, Gaya
Govt. High School Shikarpur, Patna
Buddha Colony, Muzaffarpur
Dangi Tola, Rajgir
D M Colony, Bihar Sharif
Gandak Colony, Motihari
Kamalnath Nagar, Bettiah
Town Hall   Lal Bagh, Darbhanga
Dada Peer, Sasaram
Town Hall, Munger
MIT Daudpur Kothi, Muzaffarpur
Darshan Nagar, Chhapra
Mayaganj, Bhagalpur
Gurdeo Nagar, Aurangabad
DM Office_Kachari Chowk, Bhagalpur
Forest Rest House, Manguraha
Mariam Nagar, Purnia
Kareemganj, Gaya
Central Jail, Buxar
Police Line, Saharsa
SDM Office_Khagra, Kishanganj
Kharahiya Basti, Araria
Chitragupta Nagar, Siwan
Mirchaibari, Katihar
New DM Office, Arrah
DM Office_Kasipur, Samastipur
DRCC Anandpur, Begusarai
Mangala, Bilaspur
Civic Center, Bhilai
Urja Nagar, Korba
Bhatagaon New ISBT, Raipur
Hathkhoj, Bhilai
32Bungalows, Bhilai
Krishak Nagar, Raipur
Rampur, Korba
Siltara Phase II, Raipur
AIIMS, Raipur
OP Jindal Industrial Park, Tumidih
OP Jindal School, Kunjemura
Govt. Higher Secondary School, Milupara
Nawapara SECL Colony, Chhal
Sector 25, Chandigarh
Sector 22, Chandigarh
Sector 53, Chandigarh
ITO, Delhi
Shadipur, Delhi
Sirifort, Delhi
NSIT Dwarka, Delhi
IHBAS, Dilshad Garden, Delhi
DTU, Delhi
Burari Crossing, Delhi
North Campus, DU, Delhi
Pusa, Delhi
CRRI Mathura Road, Delhi
Aya Nagar, Delhi
Mandir Marg, Delhi
R K Puram, Delhi
Punjabi Bagh, Delhi
Anand Vihar, Delhi
IGI Airport (T3), Delhi
Lodhi Road, Delhi
East Arjun Nagar, Delhi
Okhla Phase 2, Delhi
Wazirpur, Delhi
Najafgarh, Delhi
Narela, Delhi
Sonia Vihar, Delhi
Rohini, Delhi
Nehru Nagar, Delhi
Vivek Vihar, Delhi
Patparganj, Delhi
Dr. Karni Singh Shooting Range, Delhi
Major Dhyan Chand National Stadium, Delhi
Dwarka Sector 8, Delhi
Ashok Vihar, Delhi
Jawaharlal Nehru Stadium, Delhi
Jahangirpuri, Delhi
Sri Aurobindo Marg, Delhi
Bawana, Delhi
Mundka, Delhi
Pusa, Delhi
Alipur, Delhi
Lodhi Road, Delhi
Chandni Chowk, Delhi
Maninagar, Ahmedabad
GIDC, Ankleshwar
Phase 1 GIDC, Vapi
Phase 4 GIDC, Vatva
Sector 10, Gandhinagar
GIDC, Nandesari
IIPHG Lekawada, Gandhinagar
GIFT City, Gandhinagar
SVPI Airport Hansol, Ahmedabad
Chandkheda, Ahmedabad
Rakhial, Ahmedabad
SAC ISRO Bopal, Ahmedabad
Gyaspur, Ahmedabad
Raikhad, Ahmedabad
SAC ISRO Satellite, Ahmedabad
Sardar Vallabhbhai Patel Stadium, Ahmedabad
Science Center, Surat
HIMUDA Complex Phase 1, Baddi
Sector  16A, Faridabad
Vikas Sadan, Gurugram
Sector 6, Panchkula
MD University, Rohtak
NISE Gwal Pahari, Gurugram
Sector 2 IMT, Manesar
Murthal, Sonipat
H.B. Colony, Bhiwani
Police Lines, Jind
Municipal Corporation Office, Dharuhera
Arya Nagar, Bahadurgarh
Gobind Pura, Yamuna Nagar
Nathu Colony, Ballabgarh
Patti Mehar, Ambala
Sector 7, Kurukshetra
Sector 18, Panipat
Huda Sector, Fatehabad
General Hospital, Mandikhera
Sector 12, Karnal
F Block, Sirsa
Urban Estate II, Hisar
Shastri Nagar, Narnaul
Rishi Nagar, Kaithal
Shyam Nagar, Palwal
Sector 11, Faridabad
New Industrial Town, Faridabad
Teri Gram, Gurugram
Sector 51, Gurugram
Mini Secretariat, Charkhi Dadri
Sector 30, Faridabad
Tata Stadium, Jorapokhar
Sardar Patel Nagar, Dhanbad
Rajbagh, Srinagar
BTM Layout, Bengaluru
BWSSB Kadabesanahalli, Bengaluru
Peenya, Bengaluru
Deshpande Nagar, Hubballi
City Railway Station, Bengaluru
Sanegurava Halli, Bengaluru
Silk Board, Bengaluru
Hebbal, Bengaluru
Tamaka Ind. Area, Kolar
Bapuji Nagar, Bengaluru
Chikkaballapur Rural, Chikkaballapur
Jayanagar 5th Block, Bengaluru
Lal Bahadur Shastri Nagar, Kalaburagi
Hombegowda Nagar, Bengaluru
Hebbal 1st Stage, Mysuru
Urban, Chamarajanagar
Vijay Nagar, Ramanagara
Collector Office, Yadgir
Kalyana Nagara, Chikkamagaluru
Vinoba Nagara, Shivamogga
Ibrahimpur, Vijayapura
Vidayagiri, Bagalkot
Stuart Hill, Madikeri
Diwator Nagar, Koppal
Haji Colony, Raichur
Kadri, Mangalore
Naubad, Bidar
Panchal Nagar, Gadag
Devaraj Urs Badavane, Davanagere
Brahmagiri, Udupi
B.Katihalli, Hassan
Ashwini Nagar, Haveri
Ramteerth Nagar, Belgaum
Kalabhavan, Dharwad
Thimmalapura, Tumakuru
RVCE Mailasandra, Bengaluru
Mahatma Basaveswar Colony, Kalaburgi
Lingaraj Nagar, Hubballi
Shivapura_Peenya, Bengaluru
Plammoodu, Thiruvananthapuram
Udyogamandal, Eloor
Vyttila, Kochi
Palayam, Kozhikode
Kacheripady, Ernakulam
Kariavattom, Thiruvananthapuram
Polayathode, Kollam
Thavakkara, Kannur
Corporation Ground, Thrissur
Karve Road, Pune
Bandra, Mumbai
Airoli, Navi Mumbai
Chauhan Colony, Chandrapur
Solapur, Solapur
Opp GPO Civil Lines, Nagpur
MIDC Khutala, Chandrapur
Gangapur Road, Nashik
Pimpleshwar Mandir, Thane
More Chowk Waluj, Aurangabad
Nerul, Navi Mumbai
Khadakpada, Kalyan
Colaba, Mumbai
Worli, Mumbai
Sion, Mumbai
Vile Parle West, Mumbai
Borivali East, Mumbai
Chhatrapati Shivaji Intl. Airport (T2), Mumbai
Kurla, Mumbai
Vasai West, Mumbai
Powai, Mumbai
Navy Nagar Colaba, Mumbai
Malad West, Mumbai
Revenue Colony Shivajinagar, Pune
Chakala Andheri East, Mumbai
Bandra Kurla Complex, Mumbai
Mhada Colony, Pune
Transport Nagar Nigdi, Pune
Mazgaon, Mumbai
Bhosari, Pune
Alandi, Pune
Sector 19A Nerul, Navi Mumbai
Deonar, Mumbai
Borivali East, Mumbai
Khindipada Bhandup West, Mumbai
Kandivali East, Mumbai
Mulund West, Mumbai
MIT Kothrud, Pune
Siddharth Nagar Worli, Mumbai
Hadapsar, Pune
Mahape, Navi Mumbai
Lumpyngngad, Shillong
JN Stadium, Shillong
Manipur University, Imphal
DM College of Science, Imphal
Mahakaleshwar Temple, Ujjain
Bhopal Chauraha, Dewas
Sector 2 Industrial Area, Pithampur
Suryakiran Bhawan NCL, Singrauli
Sector D Industrial Area, Mandideep
Bandhavgar Colony, Satna
Shasthri Nagar, Ratlam
Shrivastav Colony, Damoh
Sahilara, Maihar
Gole Bazar, Katni
Chhoti Gwaltoli, Indore
T T Nagar, Bhopal
Marhatal, Jabalpur
Deen Dayal Nagar, Sagar
City Center, Gwalior
Phool Bagh, Gwalior
Paryavaran Parisar, Bhopal
Maharaj Bada, Gwalior
Civil Lines, Sagar
Deen Dayal Nagar, Gwalior
Idgah Hills, Bhopal
Vijay Nagar Scheme 78, Indore
Sikulpuikawn, Aizawl
PWD Juction, Kohima
GM Office, Brajrajnagar
Talcher Coalfields,Talcher
OMC Colony, Suakati
Dabuna, Nayagarh
Meher Colony, Baripada
Tata Township, Bileipada
Barsua Iron Ore Mines, Tensa
Divisional Forest Office, Rairangpur
Jagamohanpur, Keonjhar
Sector 2, Rourkela
Fertilizer Township, Rourkela
Raghunathpali, Rourkela
Golden Temple, Amritsar
RIMT University, Mandi Gobindgarh
Punjab Agricultural University, Ludhiana
Civil Line, Jalandhar
Model Town, Patiala
Kalal Majra, Khanna
Ratanpura, Rupnagar
Hardev Nagar, Bathinda
Jawahar Nagar, Puducherry
Collectorate, Jodhpur
Adarsh Nagar, Jaipur
Police Commissionerate, Jaipur
RIICO Ind. Area III, Bhiwadi
Indira Colony Vistar, Pali
Moti Doongri, Alwar
Civil Lines,  Ajmer
Shrinath Puram, Kota
Shastri Nagar, Jaipur
Ashok Nagar, Udaipur
Sadar Bazar, Jaisalmer
Khatikan Mohalla, Dausa
Rati Talai, Banswara
Samrat Ashok Udhyan, Jodhpur
Housing Board, Hanumangarh
Vedhaynath Colony, Sirohi
Dhanmandi, Kota
MM Ground, Bikaner
Nayapura, Kota
Railway Colony, Barmer
Krishna Nagar, Bharatpur
Subash Chowk, Churu
Raja Ganj, Dholpur
Sahu Nagar, Sawai Madhopur
Shastri Nagar, Chittorgarh
Indra Nagar, Jhunjhunu
Sector 2 Murlipura, Jaipur
Jhalamand, Jodhpur
Pragati Nagar, Pratapgarh
Mansarovar Sector 12, Jaipur
Rajlaxmi Nagar, Jhalawar
Satyawati Vihar, Karauli
Old City, Sri Ganganagar
Radhakishan Pura, Sikar
Dhoinda, Rajsamand
Zero Point GICI, Gangtok
Sanathnagar, Hyderabad
Zoo Park, Hyderabad
IDA Pashamylaram, Hyderabad
Bollaram Industrial Area, Hyderabad
ICRISAT Patancheru, Hyderabad
Central University, Hyderabad
ECIL Kapra, Hyderabad
Nacharam_TSIIC IALA, Hyderabad
Kompally Municipal Office, Hyderabad
IITH Kandi, Hyderabad
New Malakpet, Hyderabad
Somajiguda, Hyderabad
Kokapet, Hyderabad
Ramachandrapuram, Hyderabad
Alandur Bus Depot, Chennai
Manali, Chennai
Velachery Res. Area, Chennai
Manali Village, Chennai
SIDCO Kurichi, Coimbatore
Arumbakkam, Chennai
Meelavittan, Thoothukudi
Royapuram, Chennai
Kodungaiyur, Chennai
Perungudi, Chennai
Anthoni Pillai Nagar, Gummidipoondi
SIPCOT Phase 1, Hosur
Kumaran College, Tirupur
Crescent University, Chengalpattu
Gandhi Nagar_Ennore, Chennai
Vasanthapuram, Vellore
Sona College of Technology, Salem
Chalai Bazaar, Ramanathapuram
Mendonsa Colony, Dindigul
PSG College of Arts and Science, Coimbatore
Bombay Castel, Ooty
Kilambi, Kanchipuram
Keelapalur, Ariyalur
Kudikadu, Cuddalore
Semmandalam, Cuddalore
Bharathidasan University, Palkalaiperur
Kunjaban, Agartala
Bardowali, Agartala
Doon University, Dehradun
Govt. Girls Inter College, Kashipur
Shivaji Nagar, Rishikesh
Talkatora District Industries Center, Lucknow
Kendriya Vidyalaya, Lucknow
Ardhali Bazar, Varanasi
Sanjay Palace, Agra
Nehru Nagar, Kanpur
Lalbagh, Lucknow
Sector   62, Noida
Sector   125, Noida
Vasundhara, Ghaziabad
Lajpat Nagar, Moradabad
Nishant Ganj, Lucknow
Knowledge Park   III, Greater Noida
Yamunapuram, Bulandshahr
New Mandi, Muzaffarnagar
New Collectorate, Baghpat
Anand Vihar, Hapur
Sanjay Nagar, Ghaziabad
Indirapuram, Ghaziabad
Loni, Ghaziabad
Knowledge Park   V, Greater Noida
Sector 1, Noida
Sector 116, Noida
Jai Bhim Nagar, Meerut
Gomti Nagar, Lucknow
Ganga Nagar, Meerut
Pallavpuram Phase 2, Meerut
IITK, Kanpur
Shastripuram, Agra
Bhelupur, Varanasi
Sector 3B Avas Vikas Colony, Agra
IESD Banaras Hindu University, Varanasi
Madan Mohan Malaviya University of Technology, Gorakhpur
Motilal Nehru NIT, Prayagraj
Manoharpur, Agra
B R Ambedkar University, Lucknow
Jhunsi, Prayagraj
Nagla Bhau, Firozabad
Nagar Nigam, Prayagraj
Kukrail Picnic Spot 1, Lucknow
NSI Kalyanpur, Kanpur
Maldahiya, Varanasi
Rohta, Agra
Omex Eternity, Vrindavan
FTI Kidwai Nagar, Kanpur
Shahjahan Garden, Agra
Employment Office, Moradabad
Buddhi Vihar, Moradabad
Jigar Colony, Moradabad
Eco Herbal Park, Moradabad
Sardar Patel Inter College, Baghpat
Vibhab Nagar, Firozabad
Shivaji Nagar, Jhansi
Rajendra Nagar, Bareilly
Kalindi Kunj, Khurja
Transport Nagar, Moradabad
Kashiram Nagar, Moradabad
Civil Lines, Bareilly
Priyambada Housing Estate, Haldia
Victoria, Kolkata
Ghusuri, Howrah
Sidhu Kanhu Indoor Stadium, Durgapur
Rabindra Bharati University, Kolkata
Padmapukur, Howrah
Asansol Court Area, Asansol
Ward 32 Bapupara, Siliguri
Fort William, Kolkata
Belur Math, Howrah
Jadavpur, Kolkata
Rabindra Sarobar, Kolkata
Bidhannagar, Kolkata
Ballygunge, Kolkata

In [196]:
kaggle_df['station_location'] = a

In [199]:
kaggle_df.drop(['name'], axis=1, inplace=True)
kaggle_df

,state,city,start_month,start_month_num,start_year,file_name,agency,station_location
0,Andhra Pradesh,Tirupati,July,7,2016,AP001,APPCB,"Tirumala, Tirupati"
1,Andhra Pradesh,Vijayawada,May,5,2017,AP002,APPCB,"PWD Grounds, Vijayawada"
2,Andhra Pradesh,Visakhapatnam,July,7,2017,AP003,APPCB,"GVM Corporation, Visakhapatnam"
3,Andhra Pradesh,Rajamahendravaram,September,9,2017,AP004,APPCB,"Anand Kala Kshetram, Rajamahendravaram"
4,Andhra Pradesh,Amaravati,November,11,2017,AP005,APPCB,"Secretariat, Amaravati"
...,...,...,...,...,...,...,...,...
448,West Bengal,Howrah,May,5,2019,WB010,WBPCB,"Belur Math, Howrah"
449,West Bengal,Kolkata,June,6,2019,WB011,WBPCB,"Jadavpur, Kolkata"
450,West Bengal,Kolkata,August,8,2019,WB012,WBPCB,"Rabindra Sarobar, Kolkata"
451,West Bengal,Kolkata,August,8,2019,WB013,WBPCB,"Bidhannagar, Kolkata"
452,West Bengal,Kolkata,August,8,2019,WB014,WBPCB,"Ballygunge, Kolkata"

In [203]:
kaggle_df = kaggle_df[['file_name','state', 'city', 'agency', 'station_location','start_month','start_month_num', 'start_year']]

In [204]:
kaggle_df

,file_name,state,city,agency,station_location,start_month,start_month_num,start_year
0,AP001,Andhra Pradesh,Tirupati,APPCB,"Tirumala, Tirupati",July,7,2016
1,AP002,Andhra Pradesh,Vijayawada,APPCB,"PWD Grounds, Vijayawada",May,5,2017
2,AP003,Andhra Pradesh,Visakhapatnam,APPCB,"GVM Corporation, Visakhapatnam",July,7,2017
3,AP004,Andhra Pradesh,Rajamahendravaram,APPCB,"Anand Kala Kshetram, Rajamahendravaram",September,9,2017
4,AP005,Andhra Pradesh,Amaravati,APPCB,"Secretariat, Amaravati",November,11,2017
...,...,...,...,...,...,...,...,...
448,WB010,West Bengal,Howrah,WBPCB,"Belur Math, Howrah",May,5,2019
449,WB011,West Bengal,Kolkata,WBPCB,"Jadavpur, Kolkata",June,6,2019
450,WB012,West Bengal,Kolkata,WBPCB,"Rabindra Sarobar, Kolkata",August,8,2019
451,WB013,West Bengal,Kolkata,WBPCB,"Bidhannagar, Kolkata",August,8,2019
452,WB014,West Bengal,Kolkata,WBPCB,"Ballygunge, Kolkata",August,8,2019

In [205]:
kaggle_df.to_csv("./stations_file_info.csv", header=True, index=False)

In [148]:
x = []
for file in glob("./final_dataset/*"):
    df = pd.read_csv(file)
    for col in df.columns:
        x.append(col)

In [152]:
set(x)

{'AT ()',
 'AT (degree C)',
 'AT (degree)',
 'AT (ug/m3)',
 'BP ()',
 'BP (W/mt2)',
 'BP (mg/m3)',
 'BP (mmHg)',
 'BP (mmHg).1',
 'BP (mmHg).2',
 'BP (mmHg).3',
 'BP (mmHg).4',
 'BP (mmHg).5',
 'BP (mmHg).6',
 'BP (mmHg).7',
 'Benzene ()',
 'Benzene (mg/m3)',
 'Benzene (ug/m3)',
 'CH4 ()',
 'CH4 (ug/m3)',
 'CO (mg/Nm3)',
 'CO (mg/m3)',
 'CO (ng/m3)',
 'CO (ug/m3)',
 'CO2 (mg/m3)',
 'Eth-Benzene ()',
 'Eth-Benzene (ug/m3)',
 'From Date',
 'Gust (kl/h)',
 'Gust (km/hr)',
 'Gust (m/s)',
 'HCHO (ug/m3)',
 'Hg (ug/m3)',
 'MH (m)',
 'MP-Xylene ()',
 'MP-Xylene (ug/m3)',
 'NH3 ()',
 'NH3 (ppb)',
 'NH3 (ug/m3)',
 'NMHC ()',
 'NMHC (ug/m3)',
 'NO ()',
 'NO (mg/m3)',
 'NO (ppb)',
 'NO (ppm)',
 'NO (ug/m3)',
 'NO2 (ug/m3)',
 'NOx (ppb)',
 'NOx (ppm)',
 'NOx (ug/m3)',
 'O Xylene (ug/m3)',
 'Ozone ()',
 'Ozone (ppb)',
 'Ozone (ug/m3)',
 'PM10 (ug/m3)',
 'PM2.5 (ug/m3)',
 'Power (W)',
 'RF ()',
 'RF (m/s)',
 'RF (mm)',
 'RF (mm).1',
 'RF (mm).2',
 'RF (mm).3',
 'RF (mm).4',
 'RF (mm).5',
 'RF (mm).6',
 'RF (mm).7',
 'RH (%)',
 'RH ()',
 'RH (W/mt2)',
 'RH (degree)',
 'SO2 ()',
 'SO2 (ug/m3)',
 'SPM (ug/m3)',
 'SR ()',
 'SR (W/mt2)',
 'SR (ug/m3)',
 'THC ()',
 'THC (ug/m3)',
 'Temp ()',
 'Temp (degree C)',
 'Temp (ug/m3)',
 'To Date',
 'Toluene ()',
 'Toluene (ug/m3)',
 'VWS (degree)',
 'VWS (m/s)',
 'Variance (n)',
 'WD ()',
 'WD (deg)',
 'WD (degree C)',
 'WD (degree)',
 'WS ()',
 'WS (m/s)',
 'WS (ug/m3)',
 'Xylene ()',
 'Xylene (ug/m3)'}

In [155]:
a = {'AT' : ['degree C', 'ug/m3'],
 'BP' : ['W/mt2','mg/m3','mmHg'],
 'Benzene' : ['mg/m3', 'ug/m3'],
 'CH4' : ['ug/m3'],
 'CO' : ['mg/Nm3', 'mg/m3','ng/m3','ug/m3'],
 'CO2' : ['mg/m3'],
 'Eth-Benzene' : ['ug/m3'],
 'From Date':[],
 'Gust' : ['kl/h', 'km/hr', 'm/s'],
 'HCHO' : ['ug/m3'],
 'Hg':  ['ug/m3'],
 'MH' :  ['m'],
 'MP-Xylene' : ['ug/m3'],
 'NH3' : ['ppb', 'ug/m3'],
 'NMHC' : ['ug/m3'],
 'NO' : ['mg/m3', 'ppb', 'ppm', 'ug/m3'],
 'NO2': ['ug/m3', ],
 'NOx':['ppb', 'ppm', 'ug/m3'],
 'O Xylene': ['ug/m3'],
 'Ozone': ['ppb','ug/m3'],
 'PM10': ['ug/m3'],
 'PM2.5': ['ug/m3'],
 'Power': ['W'],
 'RF' : ['m/s', 'mm'],
 'RH': ['%', 'W/mt2', 'degree'],
 'SO2': ['ug/m3'] ,
 'SPM':['ug/m3'],
 'SR':['W/mt2', 'ug/m3'],
 'THC':['ug/m3'],
 'Temp':['degree C', 'ug/m3'],
 'To Date':[],
 'Toluene':['ug/m3'],
 'VWS' : ['degree','m/s'],
 'Variance': ['n'],
 'WD': ['deg', 'degree C','degree'],
 'WS': ['m/s','ug/m3'],
 'Xylene': ['ug/m3']}

In [157]:
len(a.keys())

37

In [147]:
for col in df.columns:
    print(col)

From Date
To Date
PM2.5 (ug/m3)
NO (ug/m3)
NO2 (ug/m3)
NOx (ppb)
SO2 (ug/m3)
CO (mg/m3)
Ozone (ug/m3)
Benzene (ug/m3)
Toluene (ug/m3)
Temp (degree C)
RH (%)
WS (m/s)
WD (deg)
SR (W/mt2)
BP (mmHg)
VWS (m/s)
RF (mm)
Xylene (ug/m3)
AT (degree C)

In [2]:
df = pd.read_csv("./stations_info.csv")

In [18]:
data = {}
for state,city in df.groupby(['state', 'city']).sum().index.values:
    print(row)
    if state in data:
        data[state].append(city)
    else:
        data[state] = [city]

('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')
('Andhra Pradesh', 'Amaravati')

In [24]:
len(data['Bihar'])

25